table,
tr,
td,
th {
    border: 1px, black solid;
}

tr:nth-child(even) {
    background-color: rgb(209, 49, 49);
}


/* body {
    background-color: blue;
    color: aliceblue;
} */
body{
    height: auto;
}


h1 {
    /* background-color: rgb(226, 32, 32); */
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(download.jpg);
    color: rgb(0, 0, 0);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: top right;
    height: 100px;
    border: 8px solid wheat;
}


.sec {
    background-color: rgb(209, 86, 49);
    border: 5px solid silver;
    height: 350px;
    width: 350px;
    padding: 15px;
    border-radius: 10px;
    /* margin: 1px; */
    

}

h2{
    display: flex;
    align-items: center;
    justify-content: center;
}

div.sec{
    align-items: center;
    justify-content: center;
}


.btn2{
    background-color: rgb(209, 86, 49);
    color: wheat;
    height: 50px;
    width: 120px;
    border-radius: 5px;
    font-size: 15px;
    font-weight: bold;
    border: none;
}


.btn2:hover{
    background-color: rgb(180, 59, 22);
}


/* .sec, h2 {
    color: wheat;
} */